@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
@layer base{
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
};
@layer components{
  .hero .slick-dots{
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
  .hero .slick-dots li{
    margin: 0;
    width: 50px;
    height: 10px;
  }
  .hero .slick-dots li:last-child{
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
   overflow: hidden;
  }
  .hero .slick-dots li:first-child{
   border-top-left-radius: 100px;
   border-bottom-left-radius: 100px;
   overflow: hidden;
  }
  .hero .slick-dots li button{
    width: 50px;
    height: 10px;
  }
  .hero .slick-dots li button:before{
    font-size: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  .hero .slick-dots li.slick-active button:before{
    color: white;
    background-color: #000;
  }
  .feedback .slick-dots {
    bottom: -40px;
  }
  .feedback .slick-dots li {
    margin: 5px;
    width: 10px;
    height: 10px;
  }
  .feedback .slick-dots li button {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .feedback .slick-dots li button:before {
    border-radius: 100%;
    font-size: 0;
    width: 100%;
    height: 100%;
    background-color: #BEBCBD;
  }
  .feedback .slick-dots li.slick-active button:before {
    background-color: #3C4242;
  }
}