@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  html{
    scroll-behavior: smooth;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
};